@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
  background-image: linear-gradient(180deg, #3cc97e,#013619);
  width: 100%;
  height: 208px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
}

article {
  background-color: #E7E5C3;
  box-shadow: inset 0px 31px 9px -27px rgba(0, 0, 0, 0.401);
}

section {
  background-color: white;
  width: 1090px;
  height: 4000px;
  margin: auto;
  padding: 20px 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
}

@font-face {
  font-family: idroid;
  src: url(../pacote-projeto-d010/fontes/idroid.otf);
}

.titulo__menu{
  text-align: center;
  font: 45px 'Bebas Neue', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 25px 0;
}

.texto_menu{
  font: 20px 'Arial';
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.menu__horizontal ul li{
  display: inline;
}

.menu__horizontal > ul > li:first-child {
  padding-left: 20px;
}

.menu__horizontal ul li a {
  font: 13px 'Arial';
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: #52df8f;
  padding-right: 20px;
}

.titulo__section {
  font: 30px 'idroid';
  color: #013619;
  margin-bottom: 10px;
}

article p {
  font: 15px 'Arial';
  line-height: 25px;
  text-indent: 30px;
  text-align: justify;
}

.subtitulo_section {
  font: 20px 'idroid';
  color: #136C3A;
  background-image: linear-gradient(90deg, #80E1AE, white);
  margin: 10px 0;
  padding-left: 5px;
}

span {
  font-weight: bold;
  color: #136C3A;
}

.span__imagem, .span_link {
  font-weight: bold;
  color: #136C3A;
  background-color: #80E1AE;
  text-decoration: none;
  padding: 2px 5px 2px 2px;
}

.imagem__margin_auto {
  width: 100%;
  margin: auto;
}

.imagem__padding {
  padding: 15px 0px;
}

.imagem__centralizada {
  margin: auto;
  display: block;
}

.video__youtube {
  margin: 15px auto;
  padding: inherit;
  text-align: center;
  background-color: #1A5C38;
}

.box__extra {
  background-color: #C5EBD6;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
}

.box__extra p:first-child {
  background-color: #2FA866;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px 0px 7px 0px;
  text-indent: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.box__extra p:nth-child(2) {
  padding: 20px 15px 20px 15px;
}

.lista__versao_android {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;

}

.lista__versao_android ul li::before {
  content: '\002714     ';
}
