@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #69FAB6, #9DFF4D);
}

p {
  text-align: justify;
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #4CA853;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #8a2e4ebb;
  color: #A83B61;
}

h2 {
  color: #F587AE;
}